# Data manipulation and analysis
pandas==1.5.3
numpy==1.23.5

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2

# Machine learning
scikit-learn==1.2.2

# Jupyter Notebook for interactive analysis
notebook==6.5.4